/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #fff; /* Set a default background color */
}

/* Hero section */

.contentz {
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center align text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
}

.hero {
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    align-s: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 5%;
}

.hero video.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: auto;
    height: 100%;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero .explore-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .explore-btn:hover {
    background-color: #ddd;
}

/* Navigation */

/* Mission section */
.mission-section {
    display: flex;
    justify-content: space-between;
    align-s: center;
    padding: 1000px;;
    background-color: rgba(170, 224, 187, 0.3);
}

.left-column {
    flex: 1;
    padding-right: 200px;
}

.left-column h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 100px;
}

.left-column h1 {
    font-size: 3.0rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 150px;
}

.right-column {
    flex: 1;
    padding-left: 200px;
}

.right-column p {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 20px;
}

.learn-more-btn {
    display: inline-block;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.learn-more-btn:hover {
    color: #007bff;
    border-color: #007bff;
}

/* News section */
.news {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.news-list {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.news-article {
    text-align: center;
    padding: 20px;
}

.news-article h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.news-article p {
    color: #666;
    margin-bottom: 20px;
}

.news-article .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.news-article .btn:hover {
    background-color: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #eef8ff;
    position: relative;
    min-height: 100vh;
    margin-bottom: 0px; /* Ensure there's enough space for the footer */
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #410d15, #043837cd); /* Adjust gradient colors as needed */
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    color: #fff; /* Ensure text is readable */
}


.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-s: flex-start;
    justify-content: space-between;
}


.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}



.logo {
    max-width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-s: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far {
    font-size: 18px;
    margin-right: 20px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    display: flex;
}
form button .far {
    font-size: 16px;
    color: #ffffff; /* Adjust color as needed */
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 15px;
    height: 100%;
    background: #fff; /* Adjust background color as needed */
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px; /* Adjust left positioning as needed */
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px; /* Starting position off-screen to the left */
    }
    100% {
        left: 100%; /* Ending position all the way to the right */
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
        padding: 10px;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

/* Body and Header Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
}

svg {
    width: 25px;
}

header {
    width: 1440px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-s: center;
    position: relative;
    z-index: 1;
}

header .logo {
    font-weight: bold;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

/* CSS Slider */
.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
    overflow: hidden; /* Ensure slider container hides overflow */
}

.slider .list .item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
        text-shadow: rgb(0, 0, 1);
}

.slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-shadow: rgb(0, 0, 1);
}

.slider .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient;
    text-shadow: rgb(0, 0, 1);
}

.slider .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 2; /* Ensure content is above images */
    background-color: transparent; /* Background color for testing */
    padding: 20px; /* Adjust padding as needed */
    color: #ffffff; /* Text color */
    text-shadow: rgb(0, 0, 1);

}

.slider .item .content p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px; /* Adjust letter-spacing */
    font-weight: bold; /* Example style for the first paragraph */
}

.slider .item .content h2 {
    font-size: 80px; /* Adjust font size */
    margin-bottom: 10px; /* Example margin for the heading */
    font-weight: bold; /* Example style for the heading */
}

@media (max-width: 768px) {.slider .item .content h2 {
    font-size: 0px; /* Adjust font size */
    margin-bottom: 10px; /* Example margin for the heading */
    font-weight: bold; /* Example style for the heading */

}
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;

    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active h2:nth-child(1) {
    animation-name: showContent;
    animation-delay: 1.5s; /* 1.5 seconds delay */
}

.slider .list .item.active p:nth-child(3) {
    animation-name: showContent;
    animation-duration: 1.3s; /* 1.3 seconds duration */
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.arrows button:hover {
    background-color: #575252;
    color: black;
}
.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar {
    width: 0; /* Hides the scrollbar in WebKit browsers */
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5); /* Adjust brightness as needed */
    transition: 0.5s;
    flex: shrink 0; ;
    /* Additional styling can go here */
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5); /* Adjust brightness as needed */
}

.thumbnail .item .content {
    position: absolute;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: 10px;
    /* Adjust the positioning as needed */
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start; /* Adjust alignment as needed */
    }

    .slider .List .item .content h2 {
        font-size: 60px; /* Adjust font size for smaller screens */
    }

    .arrows {
        top: 10%; /* Adjust positioning of arrows */
    }
}

@media (max-width: 768px) {
    .arrows {
        display: none; /* Hide the .arrowa elements on screens smaller than 768px */
    }
}

/* For mobile devices (less than 768px wide) */
/* For mobile devices (less than 768px wide) */
/* For mobile devices (less than 768px wide) */
/* For mobile devices (less than 768px wide) */
@media (max-width: 767px) {
    .thumbnail {
        position: absolute;
        bottom: -60px; /* Adjust bottom spacing as needed */
        z-index: 11;
        display: flex;
        gap: 10px;
        width: 100%;
        padding: 0 10px; /* Adjust padding as needed */
        box-sizing: border-box;
        overflow: auto;
        justify-content: left; /* Adjust alignment as needed */
        
    }

    .thumbnail .item {
        width: 80px; /* Adjust width for smaller squares */
        height: 80px; /* Adjust height for smaller squares */
        filter: brightness(0.5); /* Adjust brightness as needed */
        transition: 0.5s;
        flex: 0 0 auto; /* Reset flex properties for smaller items */
        text-align: left; /* Center-align text */
        
    }

    .thumbnail .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px; /* Keep the border radius */
    }

    .thumbnail .item .content {
        font-size: 12px; /* Adjust font size as needed */
        line-height: 1.2; /* Adjust line height for better spacing */
        align-items: left;
        display: none;
    }
}



/* Body and Header Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #eee;
    position: relative; /* Ensure body is relatively positioned for z-index */
    z-index: 1; /* Set a base z-index for the body */
}

svg {
    width: 25px;
}

header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; /* Ensure header is above other content */
}

header .logo {
    font-weight: bold;
    color: white;
    position: relative; /* Ensure logo respects z-index */
    z-index: 2; /* Ensure logo is above slider */
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    position: relative; /* Ensure menu respects z-index */
    z-index: 100; /* Ensure menu is above slider */
}

/* Slider Styles and other existing styles continue... */

.mission-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color:#223
                      url('images/background.jpg'); /* Replace with your actual image */
    background-size: cover;
    background-position: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dbf0dd;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
}

.container {
    height: 800px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: hidden; /* Added to hide overflow */
    align-items: left;
    justify-content: left;
}

.card {
    width: 100px;
    height: 600px; /* Adjusted height for cards */
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 8.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./Images/img3.jpg');
}

.card[for="c2"] {
    background-image: url('./Images/img2.jpg');
}

.card[for="c3"] {
    background-image: url('Images/img4.jpg');
}

.card[for="c4"] {
    background-image: url('./Images/img6.jpg');
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between; /* Adjusted to evenly distribute items */
    align-items: center;
    z-index: 100;
    background-color: transparent; /* Ensure background is transparent */
    color: #359381;
}

header .logo-img {
    height: 50px; /* Set the height of the logo image */
    width: auto;  /* Maintain aspect ratio */

}

header .logo-img {
    font-size: 5em;
    color: rgba(170, 224, 187, 0.3);
    margin-right: -550px;
    

}

header .logo-img {
    font-size: 5em;
    color: #359381;
    margin-right: -550px;
}


section{
  padding: 100px 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.homeA {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(170, 224, 187, 0.3);
}

.homeA:before {
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(170, 224, 187, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.homeA .content {
  z-index: 888;
  color: rgb(255, 255, 255);
  width: 70%;
  margin-top: 50px;
  display: none;
  opacity: 0; /* Hide content initially */
  transition: opacity 0.5s ease; /* Smooth opacity transition */
}

.homeA .content.active {
  display: block;
  opacity: 1; /* Show content with transition */
}


.homeA .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.homeA .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.homeA .content p {
  margin-bottom: 65px;
}

.homeA .content a {
  background: #fff;
  padding: 15px 35px;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.homeA .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.homeA .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.homeA .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.homeA .media-icons a:hover {
  transform: scale(1.3);
}

.homeA video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(255, 255, 255);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: rgb(125, 167, 139);
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
  z-index: 1; /* Ensure video slides are behind content */
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: clip-path 2s ease;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .homeA .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: rgba(170, 224, 187, 0.3);
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px) {
  .homeA .content h1 {
    font-size: 3em;
    line-height: 60px;
  }
}

  
  
/* Example media query for mobile devices */
@media screen and (max-width: 768px) {
    .footer {
        display: block; /* Ensure footer is visible */
        /* Add necessary styling specific to smaller screens */
    }
}
/* Example adjustments for footer */
.footer {
    /* Ensure footer is visible and properly spaced */
    display: block;
    margin-top: 20px;
}

/* Example adjustments for other sections */
.footer {
    /* Ensure sections are responsive */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Ensure elements are visible across all screen sizes */
@media (max-width: 0px) {
    .reveal-element {
        display: block;
        visibility: visible;
    }
}


body{
    margin: 0;
    background-color: #dbf0dd;
}
main{
    width: min(1200px, 90vw);
    margin: auto;
}
.customslider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.customslider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.customslider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) )!important;
}
.customslider .list .item img{
    width: 100%;
    height: 150%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.customslider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.customslider .item:hover{
    filter: grayscale(0);
}
.customslider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav{
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: ;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover{
  background-color: var(--accent-color);
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 450px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; /* Ensure positioning context for overlay */
  z-index: 20; /* Ensure nav is on top of other content */
}

.links-container, nav .home-link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; /* Ensure it respects position in nav */
  justify-content: flex-end;
}

nav a, nav .home-link {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

#overlay {
  display: none; /* Ensure overlay is hidden by default */
}

.logo-text {
  font-size: 1.5rem; /* Adjust size as needed */
  color: var(--text-color);
  padding: 20px;
  font-weight: bold;
  position: absolute;
  left: 20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure logo is above other content */
}

@media (max-width: 450px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    height: 100vh; /* Ensure it covers the full viewport height */
    background-color: var(--color-1); /* Background color for sidebar */
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    display: block; /* Show the overlay when the sidebar is active */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(79, 47, 47, 0.5); /* Add a semi-transparent background */
  }

  .logo-text {
    position: absolute;
    left: 20px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
  }
}

@media(max-width: 768px){
    .right-column p, .learn-more-btn{
      display: none;
    }
}

@media(max-width: 768px){
    .left-column h1, .learn-more-btn{
      display: absolute;
      font-size: 30px;
    }
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: block; /* Make sure content is displayed */
    opacity: 1; /* Ensure opacity is fully visible */
    transition: opacity 0.5s ease; /* Smooth transition */
  }
  
  .home .content p {
    margin-bottom: 65px;
    /* Add debugging styles */
    background: rgba(255, 255, 255, 0.2); /* Light background to check visibility */
    padding: 10px; /* Padding for visibility */
    border-radius: 5px; /* Optional: Rounded corners */
  }
  
  .home .content.active {
    opacity: 1; /* Ensure active content is fully visible */
  }
  
  @media(max-width:768px) {
    .homeA .content h1 {
        font-size: 35px;

    }


  }
  
